:root {
  --bg-color-violette: #1a1230;

  --text-color-red: #ff0f43; /*цвет*/
  --text-color-osn: #c1c2c7; /*цвет текста в хедере*/

  --button-heder-border: #a486e3;
  --bg-radios-buttom: 100px;

  --font-display: "Alter Aves", sans-serif;
  --font-body: "GT Walsheim Pro", Arial, sans-serif;
}
html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}
body * {
  margin: 0;
  padding: 0;
}
